.App {
  margin: 0;
  padding: 0;
}

.inputBoxs {
  width: 80%;
  margin-inline: 10%;
  margin-top: 1%;
  background-color: greenyellow;
  padding-inline: 2%;
  padding-bottom: 2%;
  border: 1px solid black;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 0;
  
}
.inputBoxs h1{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:xx-large;
  margin-bottom: 0;
  /* font-weight: bold; */
}

.inputBoxs header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

 input {
  width: 80%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid black;
  padding-inline:2%;;
}

.addBtn {
  width: 15%;
  height: 40px;
  border-radius: 5px;
  font-weight: 700;
  background-color: black;
  color: greenyellow;
  opacity: 0.5;
  
}
.addBtn:hover{
    cursor: pointer;
    opacity: 1;
  }
  .addBtn:focus{
    opacity: 1;
  }
  .List{
    width: 80%;
    margin-inline: 10%;
    background-color: whitesmoke;
    padding-inline: 2%;
    padding-bottom: 2%;
    /* margin-top:2% ; */
    border: 1px solid black;
    border-top: 0;
    border-radius: 0px 0px 10px 10px;

  }
  .List h1{
    font-size:xx-large;
  }
  .pendingTasks{
    width: 90%;
    margin: 4%;
    padding: 2%;
    /* padding-bottom: 2%; */
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #pending-task{
    width: 50%;
  }
  .pendingTasksBtn input{
    cursor: pointer;
    height: 20px;
    width: 30px;
  }
  .pendingTasksBtn button {
    /* background-color: blue; */
    width: 70px;
    height: 35px;
    margin-inline: 2px;
    border-radius: 10px;
    border: 1px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .pendingTasksBtn button:hover,:focus {
    font-weight: 500;
    cursor: pointer;
  }
  .completedTasks{
    width: 90%;
    margin: 4%;
    padding-inline: 2%;
    /* padding-bottom: 2%; */
    border: 1px solid black;
    border-radius: 10px;
  }

  @media screen and (max-width: 480px) {
    /* .pendingTasksBtn{
      display: flex;
      flex-direction:column ;
      align-items: center;
      gap: 1;
    } */
    .addBtn{
      opacity: 1;
    }
  }
